<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>EA103G1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/EA103G1</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>


	<!--== session-timeout =========================================== -->

<session-config>
<session-timeout>
60
</session-timeout>
</session-config>

	<!--== Caroline =========================================== -->

	<servlet>
		<servlet-name>HeadphotoHandler</servlet-name>
		<servlet-class>com.mem.controller.HeadphotoHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HeadphotoHandler</servlet-name>
		<url-pattern>/members/headphotoHandler.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemLoginHandler</servlet-name>
		<servlet-class>com.mem.controller.MemLoginHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemLoginHandler</servlet-name>
		<url-pattern>/frontend/members/memLoginHandler.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.mem.controller.MemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/frontend/members/mem.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WelRecordServlet</servlet-name>
		<servlet-class>com.wel_record.controller.WelRecordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelRecordServlet</servlet-name>
		<url-pattern>/welRecord/welRecord.do</url-pattern>
	</servlet-mapping>


	<!--== Jeff =========================================== -->
	<servlet>
		<servlet-name>EmpServlet</servlet-name>
		<servlet-class>com.emp.controller.EmpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpServlet</servlet-name>
		<url-pattern>/backend/emp/emp.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmpPhoto</servlet-name>
		<servlet-class>com.emp.controller.EmpPhoto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpPhoto</servlet-name>
		<url-pattern>/backend/emp/emp.pic</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginHandler</servlet-name>
		<servlet-class>com.emp.controller.LoginHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginHandler</servlet-name>
		<url-pattern>/backend/emp/emp.login</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>MaterialServlet</servlet-name>
		<servlet-class>com.material.controller.MaterialServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MaterialServlet</servlet-name>
		<url-pattern>/backend/material/mat.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MatPhoto</servlet-name>
		<servlet-class>com.material.controller.MatPhoto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MatPhoto</servlet-name>
		<url-pattern>/backend/material/mat.pic</url-pattern>
	</servlet-mapping>


	<!--== Tony =========================================== -->

	<servlet>
		<servlet-name>ProdServlet</servlet-name>
		<servlet-class>com.prod.controller.ProdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProdServlet</servlet-name>
		<url-pattern>/backend/prod/prod.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ProdPic2</servlet-name>
		<servlet-class>com.prod.controller.ProdPic2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProdPic2</servlet-name>
		<url-pattern>/backend/prod/prod.pic</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ProdPic</servlet-name>
		<servlet-class>com.prod.controller.ProdPic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProdPic</servlet-name>
		<url-pattern>/frontend/shop/prod.pic</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>EvalPic</servlet-name>
		<servlet-class>com.eval.model.Eval_mem_pic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EvalPic</servlet-name>
		<url-pattern>/frontend/shop/eval.pic</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>com.order.controller.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/frontend/shop/order</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ShoppingServlet</servlet-name>
		<servlet-class>com.prod.controller.ShoppingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShoppingServlet</servlet-name>
		<url-pattern>/frontend/shop/shopping</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>com.prod.controller.CartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/frontend/shop/cart</url-pattern>
	</servlet-mapping>

	<!--== Neo =========================================== -->
	<servlet>
		<servlet-name>Event_pServlet</servlet-name>
		<servlet-class>com.event_p.controller.Event_pServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Event_pServlet</servlet-name>
		<url-pattern>/backend/event_p/Event_pServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Event_pServlet</servlet-name>
		<url-pattern>/frontend/event_p/Event_pServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Event_pServlet</servlet-name>
		<url-pattern>/Event_pServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>event_tag</servlet-name>
		<servlet-class>com.event_tag.controller.Event_TagServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>event_tag</servlet-name>
		<url-pattern>/backend/event_tag/Event_TagServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>event_tag</servlet-name>
		<url-pattern>/backend/event/Event_TagServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>event_tag</servlet-name>
		<url-pattern>/frontend/event_p/Event_TagServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>update</servlet-name>
		<servlet-class>com.event_p_rep.controller.Event_P_RepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/backend/event_p_rep/Event_P_RepServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/frontend/event_p/Event_P_RepServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/frontend/event_p_rep/Event_P_RepServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>event</servlet-name>
		<servlet-class>com.event.controller.EventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>event</servlet-name>
		<url-pattern>/backend/event/EventServlet</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.event.controller.EventSchedule</listener-class>
	</listener>

	<!--== Ricky=========================================== -->

	<servlet>
		<servlet-name>PreProductServlet</servlet-name>
		<servlet-class>com.preproduct.model.PreProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PreProductServlet</servlet-name>
		<url-pattern>/backend/preproduct/preproduct.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PreproductShoppingServlet</servlet-name>
		<servlet-class>com.preorder.Controller.ShoppingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PreproductShoppingServlet</servlet-name>
		<url-pattern>/frontend/preproduct/Shopping.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DiscountSettingServlet</servlet-name>
		<servlet-class>com.discount.model.DiscountSettingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiscountSettingServlet</servlet-name>
		<url-pattern>/backend/preproduct/discount.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PreOrderServlet</servlet-name>
		<servlet-class>com.preorder.model.PreOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PreOrderServlet</servlet-name>
		<url-pattern>/frontend/preproduct/preorder.do</url-pattern>
	</servlet-mapping>



	<!--== Tim=========================================== -->
	<servlet>
		<servlet-name>BiddingServlet</servlet-name>
		<servlet-class>com.bidding.controller.BiddingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BiddingServlet</servlet-name>
		<url-pattern>/bidding/BiddingServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BdPageServlet</servlet-name>
		<servlet-class>com.biddingPage.controller.BdPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BdPageServlet</servlet-name>
		<url-pattern>/biddingPage/BdPageServlet</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>TagGetPic</servlet-name>
		<servlet-class>com.painter.controller.TagGetPic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TagGetPic</servlet-name>
		<url-pattern>/painter/TagGetPic</url-pattern>
	</servlet-mapping>
	
	

	<!--== YCL=========================================== -->
	<servlet>
		<servlet-name>LvServlet</servlet-name>
		<servlet-class>com.lv.controller.LvServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LvServlet</servlet-name>
		<url-pattern>/lv/lv.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PainterServlet</servlet-name>
		<servlet-class>com.painter.controller.PainterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PainterServlet</servlet-name>
		<url-pattern>/painter/painter.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>PainterActServlet</servlet-name>
		<servlet-class>com.painter_act.controller.PainterActServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PainterActServlet</servlet-name>
		<url-pattern>/painter/painter_act.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PainterMsgServlet</servlet-name>
		<servlet-class>com.painter_msg.controller.PainterMsgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PainterMsgServlet</servlet-name>
		<url-pattern>/painter/painter_msg.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>FollowServlet</servlet-name>
		<servlet-class>com.follow.controller.FollowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FollowServlet</servlet-name>
		<url-pattern>/follow/follow.do</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>GetShrinkPtr</servlet-name>
		<servlet-class>com.painter.controller.GetShrinkPtr</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetShrinkPtr</servlet-name>
		<url-pattern>/painter/getShrinkPtr.do</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>GetOrigPtr</servlet-name>
		<servlet-class>com.painter.controller.GetOrigPtr</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetOrigPtr</servlet-name>
		<url-pattern>/painter/getOrigPtr.do</url-pattern>
	</servlet-mapping>
	


	<!--== ROGER=========================================== -->
<servlet>
		<servlet-name>MeetingServlet</servlet-name>
		<servlet-class>com.meeting.controller.MeetingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MeetingServlet</servlet-name>
		<url-pattern>/frontend/meeting/meeting.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Reg_infServlet</servlet-name>
		<servlet-class>com.reg_inf_controller.Reg_infServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reg_infServlet</servlet-name>
		<url-pattern>/frontend/reg_inf/reg_inf.do</url-pattern>
	</servlet-mapping>


	<!-- ==backend filter by Jeff=========================================== -->
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.emp.controller.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/backend/emp/index.jsp</url-pattern>
		<url-pattern>/backend/emp/listAllEmp.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>


	<filter>
		<filter-name>AuthorityFilter</filter-name>
		<filter-class>com.emp.controller.AuthorityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthorityFilter</filter-name>
		<url-pattern>/backend/members/mem_selectPage.jsp</url-pattern>
		<url-pattern>/backend/welRecord/welRecord_selectPage.jsp</url-pattern>		
		<url-pattern>/backend/lv/listAllLv.jsp</url-pattern>
		<url-pattern>/backend/lv/addLv.jsp</url-pattern>
		<url-pattern>/backend/event/TestInsert.jsp</url-pattern>
		<url-pattern>/backend/event/TestListAll.jsp</url-pattern>
		<url-pattern>/backend/event_p/listAllPic.jsp</url-pattern>
		<url-pattern>/backend/event_p/listAllPicByEventNo.jsp</url-pattern>		
		<url-pattern>/backend/event_p_rep/listAllRep.jsp</url-pattern>
		<url-pattern>/backend/bidding/listAll.jsp</url-pattern>
		<url-pattern>/backend/bidding/select_page.jsp</url-pattern>
		<url-pattern>/backend/preproduct/addDiscount.jsp</url-pattern>
		<url-pattern>/backend/preproduct/addPreProduct_ByMano.jsp</url-pattern>
		<url-pattern>/backend/preproduct/addPreProduct.jsp</url-pattern>		
		<url-pattern>/backend/preproduct/backendindex.jsp</url-pattern>
		<url-pattern>/backend/preproduct/PonoByReachDiscount.jsp</url-pattern>	
		<url-pattern>/backend/preproduct/quantityOfSale.jsp</url-pattern>
		<url-pattern>/backend/prod/listAllProd.jsp</url-pattern>
		<url-pattern>/backend/prod/addProd.jsp</url-pattern>
		<url-pattern>/backend/material/addMat.jsp</url-pattern>	
		<url-pattern>/backend/material/listAllMat.jsp</url-pattern>	
		<url-pattern>/backend/material/listAllMatype.jsp</url-pattern>	
		<url-pattern>/backend/material/listMat_ByCompositeQuery.jsp</url-pattern>
		<url-pattern>/backend/material/selectMat.jsp</url-pattern>		
		<url-pattern>/backend/meeting/listAllMeeting_back.jsp</url-pattern>						
		<url-pattern>/backend/preproduct/preOrder.jsp</url-pattern>
		<url-pattern>/backend/preproduct/preOrderDetail.jsp</url-pattern>	
		<url-pattern>/backend/prod/listAllOrder.jsp</url-pattern>
		<url-pattern>/backend/emp/addEmp.jsp</url-pattern>
		<url-pattern>/backend/emp/listAllEmp.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

	<!-- ==frontend filter=========================================== -->
	<filter>
		<filter-name>memLoginFilter</filter-name>
		<filter-class>com.mem.controller.MemLoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>memLoginFilter</filter-name>
		<url-pattern>/frontend/members/select_page_frontend.jsp</url-pattern>
		<url-pattern>/frontend/preproduct/shoppingCart.jsp</url-pattern>
		<url-pattern>/frontend/preproduct/order_Success_List.jsp</url-pattern>
		<url-pattern>/frontend/shop/Checkout.jsp</url-pattern>
		<url-pattern>/frontend/shop/order/OrderSearch.jsp</url-pattern>
		<url-pattern>/frontend/biddingFront/biddingIndex.jsp</url-pattern>
		<url-pattern>/frontend/painter/listAllPainterFollow.jsp</url-pattern>
		<url-pattern>/frontend/event_p/event_homePage.jsp</url-pattern>
		<url-pattern>/frontend/meeting/listAllMeeting_front.jsp</url-pattern>
		<url-pattern>/frontend/members/memArea.jsp</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

</web-app>